In [220]:
pip install -U scikit-learn

Requirement already up-to-date: scikit-learn in /home/pc/.local/lib/python3.8/site-packages (1.3.2)
Requirement already satisfied, skipping upgrade: numpy<2.0,>=1.17.3 in /home/pc/.local/lib/python3.8/site-packages (from scikit-learn) (1.24.4)
Requirement already satisfied, skipping upgrade: joblib>=1.1.1 in /home/pc/.local/lib/python3.8/site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied, skipping upgrade: scipy>=1.5.0 in /home/pc/.local/lib/python3.8/site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in /home/pc/.local/lib/python3.8/site-packages (from scikit-learn) (3.2.0)
Note: you may need to restart the kernel to use updated packages.

In [221]:
pip install pytest-warnings

Requirement already satisfied: pytest-warnings in /home/pc/.local/lib/python3.8/site-packages (0.3.1)
Requirement already satisfied: pytest in /home/pc/.local/lib/python3.8/site-packages (from pytest-warnings) (7.4.4)
Requirement already satisfied: iniconfig in /home/pc/.local/lib/python3.8/site-packages (from pytest->pytest-warnings) (2.0.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc8; python_version < "3.11" in /home/pc/.local/lib/python3.8/site-packages (from pytest->pytest-warnings) (1.1.3)
Requirement already satisfied: packaging in /home/pc/.local/lib/python3.8/site-packages (from pytest->pytest-warnings) (23.2)
Requirement already satisfied: tomli>=1.0.0; python_version < "3.11" in /home/pc/.local/lib/python3.8/site-packages (from pytest->pytest-warnings) (2.0.1)
Requirement already satisfied: pluggy<2.0,>=0.12 in /home/pc/.local/lib/python3.8/site-packages (from pytest->pytest-warnings) (1.3.0)
Note: you may need to restart the kernel to use updated packages.

In [222]:
pip install xgboost

Requirement already satisfied: xgboost in /home/pc/.local/lib/python3.8/site-packages (2.0.3)
Requirement already satisfied: numpy in /home/pc/.local/lib/python3.8/site-packages (from xgboost) (1.24.4)
Requirement already satisfied: scipy in /home/pc/.local/lib/python3.8/site-packages (from xgboost) (1.10.1)
Note: you may need to restart the kernel to use updated packages.

In [223]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder,StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import xgboost as xgb
import warnings

warnings.filterwarnings('ignore')

In [224]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [225]:
train.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [226]:
train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [227]:
numerical_features = train.select_dtypes(include=['int64', 'float64']).columns
categorical_features = train.select_dtypes(include=['object']).columns
bool_features = train.select_dtypes(include=['bool']).columns

print('\nNumerical Features:',numerical_features)
print('\nCategorical Features:',categorical_features)
print('\nBool Features:',bool_features)

Numerical Features: Index(['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck'], dtype='object')

Categorical Features: Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP',
       'Name'],
      dtype='object')

Bool Features: Index(['Transported'], dtype='object')

In [228]:
def preprocess_cabin(df):
    df[['Deck','Cabin_No','Side']]=df['Cabin'].str.split('/',expand=True)
    df.drop('Cabin',inplace=True,axis=1)

preprocess_cabin(train)
train.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Deck,Cabin_No,Side
0,0001_01,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,B,0,P
1,0002_01,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,F,0,S
2,0003_01,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,A,0,S
3,0003_02,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,A,0,S
4,0004_01,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,F,1,S

In [229]:

def preprocess_null_values(df):
    numerical_features=df.select_dtypes(include=['int64', 'float64']).columns
    categorical_features=df.select_dtypes(include=['object']).columns
    bool_features=df.select_dtypes(include=['bool']).columns
    
    for i in numerical_features:
        df[i]=df[i].fillna(df[i].mean())

    for i in categorical_features:
        df[i]=df[i].fillna(df[i].mode()[0])

preprocess_null_values(train)

In [230]:
train.isna().sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
Transported     0
Deck            0
Cabin_No        0
Side            0
dtype: int64

In [231]:
test.isna().sum()

PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

In [232]:
numerical_features = test.select_dtypes(include=['int64', 'float64']).columns
categorical_features = test.select_dtypes(include=['object']).columns
bool_features = test.select_dtypes(include=['bool']).columns

print('\nNumerical Features:',numerical_features)
print('\nCategorical Features:',categorical_features)
print('\nBool Features:',bool_features)

Numerical Features: Index(['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck'], dtype='object')

Categorical Features: Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP',
       'Name'],
      dtype='object')

Bool Features: Index([], dtype='object')

In [233]:
def preprocess_cabin(df):
    df[['Deck','Cabin_No','Side']]=df['Cabin'].str.split('/',expand=True)
    df.drop('Cabin',inplace=True,axis=1)

# preprocess_cabin(test)
test.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [234]:
def preprocess_null_values(df):
    numerical_features=df.select_dtypes(include=['int64', 'float64']).columns
    categorical_features=df.select_dtypes(include=['object']).columns
    bool_features=df.select_dtypes(include=['bool']).columns
    
    for i in numerical_features:
        df[i]=df[i].fillna(df[i].mean())

    for i in categorical_features:
        df[i]=df[i].fillna(df[i].mode()[0])

# preprocess_null_values(test)

In [235]:
test.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [236]:
test.isna().sum()

PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

In [237]:
x_train = train
x_train.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Deck,Cabin_No,Side
0,0001_01,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,B,0,P
1,0002_01,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,F,0,S
2,0003_01,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,A,0,S
3,0003_02,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,A,0,S
4,0004_01,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,F,1,S

In [238]:
x_train = train.drop("Transported",axis = 1)
x_train.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Deck,Cabin_No,Side
0,0001_01,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,B,0,P
1,0002_01,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,F,0,S
2,0003_01,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,A,0,S
3,0003_02,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,A,0,S
4,0004_01,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,F,1,S

In [239]:
def preprocess_dtype(df):
    df['CryoSleep']=df['CryoSleep'].astype(int)
    df['VIP']=df['VIP'].astype(int)

preprocess_dtype(train)
# preprocess_dtype(test)

In [240]:
y_train = train["Transported"]
y_train.head()

0    False
1     True
2    False
3    False
4     True
Name: Transported, dtype: bool

In [241]:
numerical_features = x_train.select_dtypes(include=['int64', 'float64']).columns
categorical_features = x_train.select_dtypes(include=['object']).columns

numerical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_features),
        ('cat', categorical_transformer, categorical_features)
    ])

In [242]:
categorical_transformer

Pipeline(steps=[('imputer', SimpleImputer(strategy='most_frequent')),
                ('onehot', OneHotEncoder(handle_unknown='ignore'))])

In [243]:
model = xgb.XGBClassifier(
    objective='binary:logistic',
    random_state=42,
    n_estimators=1000,  
    learning_rate=0.01,  
    max_depth=3,  
    subsample=0.8,  
    colsample_bytree=0.8  
)

In [244]:
clf = Pipeline(steps=[('preprocessor', preprocessor),
                      ('classifier', model)])
clf.fit(x_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer()),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  Index(['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck'], dtype='object')),
                                                 ('cat',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('onehot',
                                                                   OneHotEncoder(handle_unknown='ign...
                               feature_types=None, gamma=None, grow_policy=None,
                               importance_type=None,
                               interaction_constraints=None, learning_rate=0.01,
                               max_bin=None, max_cat_threshold=None,
                               max_cat_to_onehot=None, max_delta_step=None,
                               max_depth=3, max_leaves=None,
                               min_child_weight=None, missing=nan,
                               monotone_constraints=None, multi_strategy=None,
                               n_estimators=1000, n_jobs=None,
                               num_parallel_tree=None, random_state=42, ...))])

In [245]:
# test.drop(['PassengerId','Name'],inplace=True,axis=1)

In [246]:
print('Shape of Data:',test.shape)

Shape of Data: (4277, 13)

In [247]:
test.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [248]:
missing=test.isna().sum()
percent=test.isna().sum()*100/test.shape[0]
print(pd.concat([missing, percent], axis=1, keys=["Missing", "Percent"]))

              Missing   Percent
PassengerId         0  0.000000
HomePlanet         87  2.034136
CryoSleep          93  2.174421
Cabin             100  2.338087
Destination        92  2.151040
Age                91  2.127660
VIP                93  2.174421
RoomService        82  1.917232
FoodCourt         106  2.478373
ShoppingMall       98  2.291326
Spa               101  2.361468
VRDeck             80  1.870470
Name               94  2.197802

In [249]:
preprocess_cabin(test)
preprocess_null_values(test)
preprocess_dtype(test)

In [250]:
x_train.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Deck,Cabin_No,Side
0,0001_01,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,B,0,P
1,0002_01,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,F,0,S
2,0003_01,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,A,0,S
3,0003_02,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,A,0,S
4,0004_01,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,F,1,S

In [251]:
test.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Deck,Cabin_No,Side
0,0013_01,Earth,1,TRAPPIST-1e,27.0,0,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning,G,3,S
1,0018_01,Earth,0,TRAPPIST-1e,19.0,0,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers,F,4,S
2,0019_01,Europa,1,55 Cancri e,31.0,0,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus,C,0,S
3,0021_01,Europa,0,TRAPPIST-1e,38.0,0,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter,C,1,S
4,0023_01,Earth,0,TRAPPIST-1e,20.0,0,10.0,0.0,635.0,0.0,0.0,Brence Harperez,F,5,S

In [252]:
y_pred=clf.predict(test)

In [257]:
pred=pd.read_csv('sample_submission.csv')
pred['Transported']=y_pred.astype(bool)

In [258]:
pred.to_csv('submission.csv',index=False)